# Yarn Berry
.yarn/

# VSCode local settings (keep shared settings)
.vscode/*
!.vscode/settings.json

# Build artifacts
/public/

# Lockfiles from other package managers
package-lock.json

# Bash scripts
scripts/bash

# Generated data
src/data/*

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/
/build

# Production
/dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts
